img {
    width: 100px;
    height: 100px;
}

/* .dropdown {
    position: relative;
    display:inline-block;
}
.dropbtn{
    background-color: grey;
    color: black;
    padding: 16px;
    font_size: 20px;
    border:none;
}
.dropdown-content {
    display:none;
    position: absolute;
    background-color: white;
    min-width:700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {display: block;} */

/* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red
}
form {
    border: 3px solid black;
} */
